{% extends '::base.html.twig' %}
{% block body %}
    <nav style="background-color:rgba(128, 211, 249, 1);">
        <div class="nav-wrapper">
            <a href="#" class="brand-logo center">2Lulz by Clément Gil & Rémi Pelmoine</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <div>
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        <li><a href="{{ path('fos_user_security_logout') }}">
                            Déconnexion
                        </a></li>
                    {% else %}
                        <li><a href="/login">Connexion</a></li>
                    {% endif %}
                </div>

            </ul>
        </div>
    </nav>


<div class="container">
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
    <div class="card center-content col l12" style="padding: 20px; margin-top: 40px;">
        {{ form_start(form, {'method': 'POST', 'action' : '/addPost'}) }}
        <div class="row">
            <div class="input-field col l6">
                {{form_widget(form.title,{ 'id':'title','attr': {'class': 'validate'} })}}
                <label for="title">Title</label>
            </div>
            <div class="file-field input-field col l6">
                <div class="btn">
                    <span> File  </span>
                    {{form_widget(form.image, { 'id' : 'image' ,'attr': {'type' : 'img'} })}}
                </div>
                <div class="file-path-wrapper">
                <input class="file-path validate" type="text" placeholder="upload images">
                </div>
            </div>
                {{form_widget(form.user_id,{ 'attr': {'value' : app.user.id} })}}
            <div id="btn-submit" class="col l6 pull-l2" style="margin-top: 40px;">
                <button class="btn waves-effect waves-light tomato" type="submit" name="action">Add <i class="material-icons right">send</i> </button>
            </div>
            {{ form_rest(form) }}
        </div>
        {{ form_end(form) }}
    </div>
    {% endif %}
    <h2 style="color:white; font-size: 24px;" class="center-content">All Posts From Our Community</h2>
    <div class="row">
    {% for post in posts %}
        <div class=" col l6 m6">
            <div class="card">
                <div class="card-content center-content">
                    <h3 style="font-size: 18px">{{post.title}}</h3>
                    <img src="images/{{post.image}}" alt="image_du_post" style="max-width: 40%"/>
                    <span style="font-size: 14px; display: block">{{post.score}}</span>
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        <a href="{{ path('upvote',{id : post.id}) }}">+1</a>
                        <a href="{{ path('downvote',{id : post.id}) }}">-1</a>
                    {% endif %}
                    <h3 style="font-size: 14px">Commentaires:</h3>
                    {%for comment in comments %}
                        {% if comment.post.id == post.id %}
                        <p style="font-size: 14px">{{comment.text}}</p>
                        {% endif %}
                    {% endfor %}
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        {% set form2 = formComment.createView %}
                        {{ form_start(form2, {'method': 'POST', 'action' : '/addComment'}) }}
                        <div class="row">
                            <div class="input-field col l6">
                                {{form_widget(form2.text,{ 'id':'text','attr': {'class': 'validate materialize-textarea', 'name': 'content'} })}}
                                <label for="content">commentaire</label>
                            </div>
                            {{form_widget(form2.post_id,{ 'attr': {'value' : post.id }}) }}
                            {{form_widget(form2.user_id,{ 'attr': {'value' : app.user.id} })}}
                            <div id="btn-submit" class="col l6 pull-l2" style="margin-top: 40px;">
                                <button class="btn waves-effect waves-light tomato" type="submit" name="action"><i class="material-icons right">send</i> </button>
                            </div>
                            {{ form_rest(form2) }}
                        </div>
                        {{ form_end(form2) }}
                    {% endif %}
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
</div>
{% endblock %}
