{% extends '::base.html.twig' %}
{% block body %}
    <nav style="background-color:#1976d2">
        <div class="nav-wrapper">
            <a href="#" class="brand-logo center">2Lulz by Clément Gil & Rémi Pelmoine</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="app_dev.php/login">Login</a></li>
            </ul>
        </div>
    </nav>


<div class="container">
    <div class="card center-content">
        <div class="row">
            <form action="{{ path('addPost')}}" method="post">
                <div class="input-field col s12">
                    {{form_widget(form.title,{ 'id':'title','attr': {'class': 'validate col s4'} })}}
                    <label for="title">Title</label>
                    <div class="file-field input-field">
                        <div class="btn tomato">
                            <span>File</span>
                            {{form_widget(form.image, { 'attr': {'class': 'col s4'} })}}
                        </div>
                        <div class="file-path-wrapper col s4">
                            <input class="file-path validate"  type="text">
                        </div>
                        <button class="btn waves-effect waves-light tomato" type="submit" name="action">Add <i class="material-icons right">send</i> </button>
                    </div>
                </div>

            </form>
        </div>
    </div>
    <h2 style="color:white" class="center-content">All Posts From Our Community</h2>
    {% for post in posts %}
        <div class="card center-content">
        <h3>{{post.title}}</h3>
        <img src="{{post.image}}" alt="image_du_post"/>
        <h4>{{post.score}}</h4>
        <h4>Commentaires:</h4>
        {%for comment in comments %}
            {% if comment.post.id == post.id %}
            <h4>{{comment.text}}</h4>
            {% endif %}
        {% endfor %}
        </div>
    {% endfor %}
</div>
{% endblock %}
